<div class="container">
  <h1>Orders</h1>
  <div class="row">
    <% @orders.each do |order| %>
    <div class="col-sm-6 col-md-4">
      <h2>
      <%= link_to "Order: " + order.id.to_s, order %>:
      <%= link_to order.product.name, order.product %>
      </h2>
      <p><%= order.product.description %></p>
      <strong>$ <%= order.product.price %></strong>
    </div>
    <% end %>
  </div>
  <%= link_to 'Back', simple_pages_landing_page_url %>
</div>