<div class="container">
  <h1>Order details</h1>

  <p>
    <strong>Order #:</strong>
    <%= @order.id %>
  </p>

  <p>
    <strong>User ID:</strong>
    <%= @order.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @order.product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @order.product.description %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= @order.product.colour %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= number_to_currency(@order.total) %>
  </p>

  <%= image_tag(@order.product.image_url, class: "img-responsive product-image") %>

  <%= link_to 'Back', orders_path %>
</div>