<!DOCTYPE html>
<html>
<head>
  <title>Cheeeeeese</title>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</head>
<nav class="bar white padding card-2 top">
  <h3 class="left">We Love Cheese!</h3>
  <ul class="right">
    <li class="bar-item button">Home</li>
    <li class="bar-item button"><a href="/quiz_view">Quiz</a></li>
    <li class="bar-item button">Contact</li>
  </ul>
</nav>

<%= yield %>

<footer class="center light-grey padding-32">
   <h5> &copy; We Love Cheese </h5>
</footer>

</html>
